@charset "UTF-8";
/* ОБНУЛЕНИЕ */
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:focus, a:active {
  outline: none;
}

ul,
ol,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

:focus, :active {
  outline: none;
}

.preload * {
  -webkit-transition: all 0.0001s ease-out;
  transition: all 0.0001s ease-out;
}

body {
  margin: 0;
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ---------------------- */
button, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.flexbin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -7.5px;
}
.flexbin:after {
  content: "";
  -webkit-box-flex: 999999999;
      -ms-flex-positive: 999999999;
          flex-grow: 999999999;
  min-width: 400px;
  height: 0;
}
.flexbin > * {
  position: relative;
  display: block;
  height: 400px;
  margin: 7.5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.flexbin > * > img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  vertical-align: bottom;
}
.flexbin.flexbin-margin {
  margin: 7.5px;
}
@media (max-width: 1024px) {
  .flexbin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -7.5px;
  }
  .flexbin:after {
    content: "";
    -webkit-box-flex: 999999999;
        -ms-flex-positive: 999999999;
            flex-grow: 999999999;
    min-width: 300px;
    height: 0;
  }
  .flexbin > * {
    position: relative;
    display: block;
    height: 300px;
    margin: 7.5px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .flexbin > * > img {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    vertical-align: bottom;
  }
  .flexbin.flexbin-margin {
    margin: 7.5px;
  }
}
@media (max-width: 768px) {
  .flexbin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -5px;
  }
  .flexbin:after {
    content: "";
    -webkit-box-flex: 999999999;
        -ms-flex-positive: 999999999;
            flex-grow: 999999999;
    min-width: 150px;
    height: 0;
  }
  .flexbin > * {
    position: relative;
    display: block;
    height: 150px;
    margin: 5px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .flexbin > * > img {
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    vertical-align: bottom;
  }
  .flexbin.flexbin-margin {
    margin: 5px;
  }
}

/* ----------------------* */
/* Main styles */
html,
body {
  height: 100%;
  background: #fff;
  font-family: Montserrat;
  line-height: 1;
  overflow-x: hidden;
}

.container {
  max-width: 1615px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.main {
  height: 100vh;
  position: relative;
}
.main__img {
  position: absolute;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  z-index: 1;
}
.main__title {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0;
  -webkit-transition: 0.8s ease-out 0.2s;
  transition: 0.8s ease-out 0.2s;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  margin-top: 37.037vh;
}
.main__title._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (min-width: 767px) {
  .main__title {
    font-size: calc(62px + 38 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .main__title {
    font-size: calc(62px + 64.6 * ((100vw - 320px)/ 1920));
  }
}
.main__subtitle {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0;
  -webkit-transition: 0.8s ease-out 1.1s;
  transition: 0.8s ease-out 1.1s;
  text-align: center;
  letter-spacing: 4.2px;
  color: #fff;
}
.main__subtitle._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (min-width: 767px) {
  .main__subtitle {
    font-size: calc(22px + 8 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .main__subtitle {
    font-size: calc(22px + 13.6 * ((100vw - 320px)/ 1920));
  }
}
.main__button {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0;
  -webkit-transition: 0.8s ease-out 2.1s;
  transition: 0.8s ease-out 2.1s;
  margin-top: 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main__button._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.main__body {
  position: relative;
  z-index: 5;
  height: 100vh;
  padding: 0 10px;
}
.main__social {
  opacity: 1;
  -webkit-transform: translate(20px, 0);
          transform: translate(20px, 0);
  opacity: 0;
  -webkit-transition: 0.7s ease 3s;
  transition: 0.7s ease 3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 20px;
  top: 25.92688vh;
}
.main__social._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.main__social > li {
  margin: 35px 0;
}
.main__social > li:first-child {
  margin: 0 0 35px 0;
}

.nav {
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
  opacity: 0;
  -webkit-transition: 0.7s ease 3s;
  transition: 0.7s ease 3s;
  padding-top: 44px;
}
.nav._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.nav__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__list > li {
  margin: 0 50px;
}
.nav__link {
  color: #ffffff !important;
  letter-spacing: 2.8px;
}
@media (min-width: 767px) {
  .nav__link {
    font-size: calc(16px + 4 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .nav__link {
    font-size: calc(16px + 6.8 * ((100vw - 320px)/ 1920));
  }
}

.social__link {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.transparent-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.transparent-button-link {
  text-align: center;
  padding: 20px 84px;
}
@media (min-width: 767px) {
  .transparent-button-link {
    font-size: calc(14px + 4 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .transparent-button-link {
    font-size: calc(14px + 6.8 * ((100vw - 320px)/ 1920));
  }
}
.transparent-button-link-white {
  border: 2px solid #ffffff;
  color: #ffffff !important;
}
.transparent-button-link-black {
  border: 2px solid #000;
  color: #000 !important;
}

.about {
  margin-bottom: 80px;
}
.about__card {
  padding: 60px 0;
}

.card-row__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card-row__item {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-row__item-hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.card-row__name {
  color: #c4c4c4;
  font-weight: 500;
  letter-spacing: 3.08px;
  margin-bottom: 30px;
}
@media (min-width: 767px) {
  .card-row__name {
    font-size: calc(12px + 10 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .card-row__name {
    font-size: calc(12px + 17 * ((100vw - 320px)/ 1920));
  }
}
.card-row__title {
  color: #000000;
  font-weight: 500;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
@media (min-width: 767px) {
  .card-row__title {
    font-size: calc(18px + 12 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .card-row__title {
    font-size: calc(18px + 20.4 * ((100vw - 320px)/ 1920));
  }
}
.card-row__text {
  color: #5b5b5c;
  letter-spacing: 3.08px;
  margin-bottom: 50px;
}
@media (min-width: 767px) {
  .card-row__text {
    font-size: calc(14px + 8 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .card-row__text {
    font-size: calc(14px + 13.6 * ((100vw - 320px)/ 1920));
  }
}
.card-row__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card-row__image > img {
  max-width: 100%;
}

.gallery__title {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7.2px;
  text-align: center;
  margin-bottom: 36px;
}
@media (min-width: 767px) {
  .gallery__title {
    font-size: calc(20px + 12 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .gallery__title {
    font-size: calc(20px + 20.4 * ((100vw - 320px)/ 1920));
  }
}
.gallery__subtitle {
  color: #5b5b5c;
  text-align: center;
  letter-spacing: 4.2px;
  font-weight: 500;
  margin: 0 auto;
}
@media (min-width: 767px) {
  .gallery__subtitle {
    font-size: calc(16px + 12 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .gallery__subtitle {
    font-size: calc(16px + 20.4 * ((100vw - 320px)/ 1920));
  }
}
.gallery__images {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery__image {
  max-height: 447px;
}
.gallery__image > img {
  max-height: 447px;
  max-width: 100%;
}
.gallery__count {
  margin-top: 100px;
  text-align: center;
  color: #c5c5c5;
  font-weight: 500;
  letter-spacing: 4px;
  cursor: pointer;
}
@media (min-width: 767px) {
  .gallery__count {
    font-size: calc(18px + 12 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .gallery__count {
    font-size: calc(18px + 20.4 * ((100vw - 320px)/ 1920));
  }
}

.count {
  color: #000000;
}
.count-inactive {
  color: #c5c5c5;
}

.block__subtitle {
  margin-bottom: 90px;
  max-width: 70vw;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
  }

  .gallery__count {
    margin-top: 60px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main__social {
    display: none;
  }
  .main__title {
    margin-top: 34vh;
    margin-bottom: 10px;
  }

  .nav__list > li {
    margin: 0 25px;
  }

  .transparent-button-link {
    padding: 16px 60px;
  }

  .card-row__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .card-row__item-hide {
    display: none;
  }
  .card-row__name {
    margin-bottom: 15px;
  }
  .card-row__title {
    margin-bottom: 15px;
  }
  .card-row__image {
    margin-bottom: 20px;
  }
  .card-row__text {
    margin-bottom: 20px;
    letter-spacing: 1.5px;
  }

  .about__card {
    padding: 40px 0;
  }

  .gallery__title {
    letter-spacing: 6.5px;
    margin-bottom: 20px;
  }
  .gallery__subtitle {
    letter-spacing: 2px;
    margin-bottom: 25px;
    max-width: 80vw;
  }
  .gallery__count {
    margin-top: 40px;
  }
}
@media (max-width: 425px) {
  .container {
    max-width: 425px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
  }
}